<div class="admin-container">
  <h1 class="admin-title">
    Admin Dashboard
  </h1>

  <!-- CREATE -->
  <div class="form-card">
    <h2>Create Comic</h2>
    <div class="form-grid">
      <input [(ngModel)]="newComic.title" placeholder="Title" />
      <input [(ngModel)]="newComic.author" placeholder="Author" />
      <input [(ngModel)]="newComic.publisher" placeholder="Publisher" />
      <input [(ngModel)]="newComic.price" type="number" placeholder="Price" /> 
      <input type="file" (change)="onFileSelected($event)"/>
      <textarea [(ngModel)]="newComic.description" placeholder="Description"></textarea>
    </div>

    <button class="create-btn" (click)="createComic()">
      Create Comic
    </button>
  </div>

  <!-- LIST -->
  <div class="comic-list">
    <div *ngFor="let comic of comics" class="comic-item">
      <div class="comic-info">
        <h3>{{ comic.title }}</h3>
        <p>{{ comic.author }}</p>
        <p>${{ comic.price }}</p>
      </div>

      <div class="actions">
        <button
          class="edit-btn"
          (click)="selectComic(comic)"
        >
          Edit
        </button>

        <button
          class="delete-btn"
          (click)="deleteComic(comic.comicID!)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  <!-- EDIT -->
  <div *ngIf="selectedComic" class="edit-form">

    <h3>Edit Comic</h3>

    <div class="form-grid">
      <input [(ngModel)]="selectedComic.title" />
      <input [(ngModel)]="selectedComic.author" />
      <input [(ngModel)]="selectedComic.publisher" />
      <input [(ngModel)]="selectedComic.price" type="number" />
      <input type="file" (change)="onFileSelected($event)"/>
      <textarea [(ngModel)]="selectedComic.description"></textarea>
    </div>

    <button class="create-btn" (click)="updateComic()">
      Save Changes
    </button>
  </div>
</div>