

<h2>Comic Catalog</h2>

<p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>


<div *ngIf="!errorMessage && comics.length === 0" class="empty-message">
  No comics available yet.
</div>

<div *ngFor="let comic of comics" class="comic-card">
  <div class="comic-cover">
    <img
      [src]="'http://localhost/comicstore_hub/uploads/' + comic.cover_image"
      [alt]="comic.title + ' cover'"
    />
  </div>

  <div class="comic-info">
    <button (click)="addToCart(comic)" class="cart-btn">
        Add to Cart
    </button>

   <h2>🛒 Cart</h2>
   <h3>Total: ${{ total }}</h3>

<div *ngIf="cartItems.length === 0">
  Cart is empty
</div>

<div *ngFor="let item of cartItems; let i = index" class="cart-item">
  <p>{{ item.title }} - ${{ item.price }}</p>

  <button (click)="removeFromCart(i)">
    Remove
  </button>
</div>

<div *ngFor="let item of cartItems" class="cart-item">
  <p>{{ item.title }} - ${{ item.price }}</p>
</div>
    <h3>{{ comic.title }}</h3>
    <p><strong>Author:</strong> {{ comic.author }}</p>
    <p><strong>Publisher:</strong> {{ comic.publisher }}</p>
    <p><strong>Genre:</strong> {{ comic.genreName }}</p>
    <p><strong>Price:</strong> ${{ comic.price }}</p>
    <p><strong>Description:</strong> {{ comic.description }}</p>
  </div>
</div>