.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
  padding: 15px 20px;
}

.logo {
  cursor: pointer;
}

.cart-icon {
  position: relative;
  cursor: pointer;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
}