

<div class="navbar">

  <h1 class="logo" routerLink="/catalog">
    ComicStore Hub
  </h1>

  <div class="right-section">

    <div
      class="cart-icon"
      routerLink="/cart"
      *ngIf="!isAdminPage"
    >
      🛒
      <span class="cart-count">
        {{ cartCount }}
      </span>
    </div>

      <div
      class="auth-section"
      >

      <ng-container *ngIf="currentUser; else guestLinks">

        <span class="welcome-text">
          Welcome {{ currentUser.name }}
        </span>
                <a
  *ngIf="currentUser.role === 'admin'"
  routerLink="/admin"
  class="admin-link"
>
  Admin
</a>

        <button 
        class="logout-btn"
        (click)="logout()"
        >
        Logout
      </button>
          
      </ng-container>

      <ng-template #guestLinks>

        <a routerLink="/login">Login</a>

        <a routerLink="/register">Register</a>

      </ng-template>

    </div>

  </div>

</div>

<router-outlet></router-outlet>